<div style="margin: 10%; background-color:white; text-align: center;">
    <h3>activity: {{activity.activity}}</h3>
    <h3>type: {{activity.type}}</h3>
    <h3>participants:{{activity.participants}}</h3>
    <h3>price: {{activity.price}}</h3>
    <h3>link: {{activity.link}}</h3>
    <h3>key: {{activity.key}}</h3>
    <h3>accessibility: {{activity.accessibility}}</h3>
    <button (click)="refresh(   )" style=" border: 1px white; border-radius: 5px;background-color:greenyellow;">Another one</button>

</div>
