.parent{
    border: 1px solid white;
    height: 25%;
    width: 100%;
    margin: 1px 1px 1px black;
    text-align: center;
   
}
.c1{
    width: 10%;
    height: 100%;
}
.c2{
    width: 85%;
    height: 100%;
}