<form [formGroup]="userForm">
    <label >name:</label>
    <input type="text" formControlName="name">
    <br>
    <label >age:</label>
    <input type="text" formControlName="age">
    <br>
    <label >phone:</label>
    <input type="text" formControlName="phone">
    <br>
    <label >email:</label>
    <input type="text" formControlName="email">
    <br>
    <div formGroupName="address">
        <label >hno:</label>
        <input type="text" formControlName="hno">
        <br>
        <label >state:</label>
        <input type="text" formControlName="state">
        <br>
        <label >pin:</label>
        <input type="text" formControlName="pin">
        <br> 
    </div>
    <button (click)="submit()">submit</button>
   
</form>