<div class="parent">
    <div class="left">
        <h1>My website</h1>
        <hr>
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="info">Info</h2>
        <h2 routerLink="variable">Variable</h2>
        <h2 routerLink="interpolation">Interpolation</h2>
        <h2 routerLink="eventbinding">Event binding</h2>
        <h2 routerLink="towaybinding">To way binding</h2>
        <h2 routerLink="calculator" >Calculator</h2>
        <h2 routerLink="rectangle">Rectangle</h2>
        <h2 routerLink="circle">Circle</h2>
        <h2 routerLink="bmical">BMI Calculator</h2>
        <h2 routerLink="structural-directives">Structural directives</h2>
        <h2 routerLink="attribute-directives">Attribute directives</h2>
        <h2 routerLink="task">task</h2>
        <h2 routerLink="vehicle">vehicle</h2>
        <h2 routerLink="bank">Bank</h2>
        <h2 routerLink="flipkart">Flipkart</h2>
        <h2 routerLink="mail">Mail</h2>
        <h2 routerLink="activity">Activity</h2>
        <h2 routerLink="memes">Memes</h2>
        <h2 routerLink="person">Person</h2>
        <h2 routerLink="student">Student</h2>
        <h2 routerLink="create-vehicle">create vehicle</h2>
        <h2 routerLink="create-account">create account</h2>
        <h2 routerLink="create-user">create user</h2>
        <h2 routerLink="creative-product">create product</h2>
        <h2 routerLink="products" >products</h2>
        <h2 routerLink="parent">parent</h2>
        <h2 routerLink="item">item</h2>
        <h2 routerLink="nav">nav</h2>
        <h2 routerLink="cast">cart</h2>
        <h2 routerLink="task1A">task1A</h2>
        <h2 routerLink="task1B">task1B</h2>
        <h2 routerLink="about-company">about company</h2>
        <h2 routerLink="ceo">ceo</h2>
        <h2 routerLink="contact/contact-hr">contact hr</h2>
        <h2 routerLink="contact/contact-support">contact support</h2>
        <h2 routerLink="payments/card-payment">card payment</h2>
        <h2 routerLink="payments/net-banking">net banking</h2>
        <h2 routerLink="payments/upi-payments">upi payments</h2>
        
        <div class="but">
        <button class="btn btn-danger" (click)="logout()">Logout</button>

        </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>  
    </div>
</div>