.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.left{
    height:100%;
    width: 20%;
    background-color: rgb(181, 181, 228);
    overflow: auto;
    

}
.right{
    height: 100%;
    width:80%;
    background-color:aquamarine;
    overflow: auto;
}
h2{
    margin: 0px;
    padding: 10px;
}
h2:hover{
    background-color: gray;
    cursor: pointer;
    
}
button{
    background-color: red;
    color: white;
    height: 25px;
    width: 60px;
    border: opx ;
    border-radius: 10px;
}

